<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="appSecretDataBase" value="PUT appSecretDataBase" />
    <add key="URLDataBase" value="https://barnet-6749d.firebaseio.com" />
  </appSettings>
  
</configuration>